.App {
  font-family: Helvetica;
  background-image: url(assets/image\ 1.png);
  background-size: cover;
  width: 100vw;
  /* background-color: #1c2344; */
  height: 100vh;
  
}


/* Navbar */
.Navbar{
  margin: auto;
  display: flex;
  height: 20vh;
  width: 85vw;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}

.homeBtn-wrapper{
  padding-left: 3vw;
  font-weight: 400;
  font-size: 50px;
}
.otherBtn-wrapper{
  font-weight: 300;
  font-size: 40px;
  padding-right: 1vw;
}

.otherBtn{
  padding-left: 2vw;
  padding-right: 2vw;
}



/* Glass Card */

.GlassCard{
  margin: auto;
  width: 75vw;
  height: 75vh;
  background-image:linear-gradient(to bottom right, rgba(239, 239, 239, 0.21), rgba(255, 255, 255, 0.028));
  backdrop-filter: blur(8px); 
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.0875);
  border-radius:25px;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  border-width: 0.5px;
  border-style: solid;
  border-color: #FFF;
  color: #FFF;
}
.search-wrapper{
  margin: auto;
  margin-top: 7vh;
  border-color: #FFF;
  border-radius: 25px;
  border-width: 0.5px;
  border-style:solid;
  width: 33vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  padding: 0vw 1vw 0vw 1vw;
  align-items: center;
  gap: 0vw;
  font-size: large;
}

.search-wrapper .search-icon{
  width: 25px;
  height: 25px;
}
.search-wrapper img{
  height: 90%;
  width: 100%;
}

.searchBar{
  /* font-family: Roboto; */
  width: 30vw;
  height: 2vw;
  outline:none; 
  background:border-box; 
  border:none;
  color: #FFF;
}
.location{
  display: flex;
  margin: auto;
  font-size: 2.2vw;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  gap: 1vw;
}

.location-icon{
  width: 35px;
  height: 35px;
}
.location-icon img{
  width: 100%;
  height: 100%;
}

.rectangle{
  display: flex;
  margin: auto;
  margin-top: 2vw;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  height: 0.375vw;
  width: 31.25vw;
  border-radius: 2px;
}

.other{
  display: flex;
  margin: auto;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  height: 2vw;
  gap: 5vw;
}
.other .pressure{
  justify-content: center;
  align-items: center; 
  display: flex;
}
.other .precipitation{
  justify-content: center;
  align-items: center;
  display: flex;

}
.other .windspeed{
  justify-content: center;
  align-items: center;
  display: flex;
}

.other img{
  height: 100%;
}

.text-3{
  font-size: 30px;
}

.temp-text{
  font-size: 200px;
  text-align: center;
}

::placeholder{
  color: #FFF;
  opacity: 1;
}