.App {
  font-family: Helvetica;
  background-image: url(assets/image\ 1.png);
  background-size: cover;
  width: 100vw;
  /* background-color: #1c2344; */
  height: 100vh;
}

.App::-webkit-scrollbar{
  display: none;
}

/* Navbar */
.Navbar{
  margin: auto;
  display: flex;
  height: 20vh;
  width: 85vw;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}

.homeBtn-wrapper{
  padding-left: 3vw;
  font-weight: 400;
  font-size: 3.125vw;
}
.otherBtn-wrapper{
  font-weight: 300;
  font-size: 2.5vw;
  padding-right: 1vw;
  display: flex;
}

.otherBtn-wrapper img{
  width: 3vw;
  height: 3vw;
}

.otherBtn{
  padding-left: 2vw;
  padding-right: 2vw;
}

.daytime{
  font-size: 1.5vw;
  font-weight: 200;
  color: #e9dede;
}

@media screen and (max-width: 800px) {
  .daytime{
    font-size: 3vw;
  }
}


/* Glass Card */

.GlassCard{
  margin: auto;
  width: 75vw;
  height: 75vh;
  background-image:linear-gradient(to bottom right, rgba(239, 239, 239, 0.21), rgba(255, 255, 255, 0.028));
  backdrop-filter: blur(8px); 
  box-shadow: 0.625vw 0.625vw 0.625vw rgba(0, 0, 0, 0.0875);
  border-radius:1.5625vw;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  border-width: 0.03125vw;
  border-style: solid;
  border-color: #FFF;
  color: #FFF;
}

@media screen and (max-width:800px) {
  .GlassCard{
    height: 50vh;
  }
}

.search-wrapper{
  margin: auto;
  margin-top: 3vw;
  border-color: #FFF;
  border-radius: 1.5625vw;
  border-width: 0.03125vw;
  border-style:solid;
  width: 33vw;
  height: 4vw;
  display: flex;
  justify-content: space-between;
  padding: 0vw 1vw 0vw 1vw;
  align-items: center;
  gap: 0vw;
  font-size: large;
}

.form{
  align-content: center;
}


.search-wrapper .search-icon{
  align-content: center;
  justify-content: center;
  width: 1.5625vw;
  height: 1.5625vw;
}

.search-icon img{
  height: 100%;
  width: 100%;
}

.searchBar{
  /* font-family: Roboto; */
  width: 30vw;
  height: 2vw;
  outline:none; 
  background:border-box; 
  border:none;
  color: #FFF;
  font-size: 1.25vw;
}

@media screen and (max-width: 800px) {
  .search-wrapper{
    margin-top: 5vw;
  }

  .search-wrapper .search-icon{
    width: 3.125vw;
    height: 3.125vw;
  }

  .searchBar{
    height: 5vw;
    font-size: 2.5vw;
  }
}

.location{
  display: flex;
  margin: auto;
  font-size: 2.2vw;
  align-items: center;
  justify-content: center;
  margin-top: 3vw;
  gap: 1vw;
}

.location-icon{
  width: 2.1875vw;
  height: 2.1875vw;
}
.location-icon img{
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 800px) {
  .location {
    font-size: 4.4vw;
    margin-bottom: 5vw;
  }

  .location-icon{
    width: 4.375vw;
    height: 4.375vw;
  }
}
.rectangle{
  display: flex;
  margin: auto;
  margin-top: 2vw;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  height: 0.375vw;
  width: 31.25vw;
  border-radius: 0.125vw;
}

.other{
  display: flex;
  margin: auto;
  margin-top: 4vw;
  justify-content: center;
  align-items: center;
  height: 2vw;
  gap: 5vw;
}
.other .pressure{
  justify-content: center;
  align-items: center; 
  display: flex;
  gap: 1vw;
}
.other .precipitation{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1vw;
  
}
.other .windspeed{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1vw;
}

.other img{
  height: 5vw;
}

.text-3{
  font-size: 2vw;
}

@media screen and (max-width: 800px) {
  .other{
    
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    width: 30vw;
    margin: 10vw 22.5vw 0vw 22.5vw;
    row-gap: 10vw;
    
  }

  .other .pressure{
    justify-content: space-evenly;
    gap: 5vw;
  }

  .other .precipitation{
    justify-content: space-evenly;
    gap: 10vw;

  }

  .other .windspeed{
    justify-content: space-evenly;
    gap: 5vw;

  }

  .text-3{
    font-size: 5vw;
  }

  .windspeed .text-3{
    font-size: 4vw;
  }
}


.temp-text{
  font-size: 10vw;
  text-align: center;
}

::placeholder{
  color: #FFF;
  opacity: 1;
}

@media screen and (max-width:800px) {
  .temp-text{
    font-size: 20vw;
    margin-bottom: 5vw;
  }

  .rectangle{
    margin-bottom: 10vw;
  }
}

/* MAP CARD */
.MapCard{
  margin: auto;
  width: 75vw;
  height: 75vh;
  /* background-image:linear-gradient(to bottom right, rgba(239, 239, 239, 0.21), rgba(255, 255, 255, 0.028)); */
  /* backdrop-filter: blur(8px);  */
  box-shadow: 0.625vw 0.625vw 0.625vw rgba(0, 0, 0, 0.0875);
  border-radius:1.25vw;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  border-width: 0.03125vw;
  border-style: solid;
  border-color: #FFF;
  /* color: #FFF; */
}

.map{
  height: 11.25vw;
}
/* MAP CARD END */